
body {
  font-weight: 200;
}

.header {
  background: url(http://planetoftheweb.com/i/vancouver.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.header .site-navigation {
  background: transparent;
}

.header .top-background {
  height: 50vh;
}

#services {
  background: #DDD;
}

#services .title {
  font-size: .9em;
}

#gradient {
  background: linear-gradient(135deg, #6f42c1 0%, #4582EC 100%);
}

#icons .icon {
  font-size: 3rem;
  color: #666;
}

#imagefloat {
  margin: 150px 0 250px 0;
  background: radial-gradient(ellipse at center, #585858 0, #232323 100%);
}

#imagefloat .image-container {
      margin-top: -140px;
      height: 600px;
    }

#imagefloat .image-container img {
    transform: rotate(-15deg);
    right: 0;
    top: 0;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
}

@media screen and (max-width: 700px) {
  #imagefloat .image-container {
    margin-top: 0;
    height: 800px;
  }

  #imagefloat {
    margin: 0px 0 150px 0;
  }

  #imagefloat .image-container img {
    transform: rotate(0);
    max-width: 300px;
  }

}

.footer {
  color: white;
  text-align: center;
  background: #2D8BCF;
  padding: 2rem 0;
}

.footer a {
  color: white;
  font-size: 2rem;
  padding: .75rem;
}

.footer a:hover {
  color: #FFB308;
}

.footer a:first-of-type:hover {
  color: green;
}

.footer p::first-letter {
  color: #8AC8E1;
  font-size: 200%;
}