/*
--breakpoint-xs: 0;
--breakpoint-sm: 576px;
--breakpoint-md: 768px;
--breakpoint-lg: 992px;
--breakpoint-xl: 1200px;
*/

/* Override Bootstrap Defaults */

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,700|Source+Sans+Pro:200,300,600');

.family-sans {
  font-family: "Source Sans Pro";
}

.family-serif {
  font-family: "Merriweather";
}

.font-weight-light {
  font-weight: 100;
}

.site-header {
  background: linear-gradient(rgba(0, 0, 0, .50) 50px, transparent),
  url(https://dummyimage.com/16:9x400/6.png&text=+);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.site-header .site-nav {
  transition: all .5s ease-out;
  background: rgba(0,0,0,0);
}

.site-header .inbody {
  background: rgba(56, 56, 56, 0.9);
}

.site-header .jumbotron {
  min-height: 50vh;
  background: transparent;
}

.vertical-padding {
  padding-top: 80px;
  padding-bottom: 80px;
}

#layout-multicolumn {
  background: #DDD;
}

#layout-multicolumn .photo-modal {
  transition: all 300ms ease-in-out;
}

#layout-multicolumn .photo-modal:hover {
  transform: scale(1.05) ;
}

#layout-multicolumn .title {
  font-size: .9em;
}

#layout-nested {
  background: linear-gradient(135deg, #888, #222);
}


#layout-icons .icon {
  font-size: 3rem;
  color: #666;
}

#layout-float {
  background: radial-gradient(ellipse at left, #585858 0, #232323 100%);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

#layout-carousel .fade .carousel-item {
  background: linear-gradient(rgba(0, 0, 0, .50) 50px, transparent),
  url(https://dummyimage.com/16:9x400/6.png&text=+);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadeout 1s;
}

#layout-carousel .fade {
  opacity: 1;
}

#layout-carousel .fade .carousel-item:first-child {
  top: 0;
  opacity: 0;
  position: relative;
}

#layout-carousel .fade .carousel-item.active {
  animation-delay: 0;
  animation: fadein 1s;
}

#layout-carousel .fade .carousel-indicators {
  opacity: 0;
}

#layout-carousel .fade .carousel-control-prev,
#layout-carousel .fade .carousel-control-next {
  opacity: 0;
}

@media screen and (min-width: 992px) {
  #layout-float {
    margin: 50px 0 150px 0;
  }

  #layout-float .img-container {
    position: relative;
  }

  #layout-float .img-special {
    position: absolute;
  }

  #layout-float img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-15deg);
  }
}

.footer {
  background: #2D8BCF;
}

.footer a {
  font-size: 2rem;
}


.footer a:first-of-type:hover {
  color: green;
}

.footer p::first-letter {
  color: #8AC8E1;
  font-size: 200%;
}
